@media screen and (max-width:480px){
html,body{
    width: 100%;
    display: block;
}
#left_side{
    width: 0%;
    display: none;
}
#right_side{
    position:relative;
    width: 100%;
    display: none;
}
#keio{
    display: none;
    width: 0%;
}
#logo{
    
}
#topmenu{
    display: block;
}
.smart_menu{
    float: left;
}
#smart_about{
    width: 28%;
    position:absolute;
    top: 25%;
    left:35%;
}
#smart_news{
    width: 20%;
    position:absolute;
    top: 22%;
    left:5%;
}
#smart_sponsor{
    width: 30%;
    position:absolute;
    top: 39%;
    left:6%;
}
#smart_access{
    width: 22%;
    position:absolute;
    top: 17%;
    left:67%;
}
#smart_contact{
    width: 26%; 
    position:absolute;
    top: 55%;
    left:29%;
}
#smart_gallery{
    width: 31%;
    position:absolute;
    top: 40%;
    left:60%;
}
#smart_shinkan{
    width: 19%;
    position:absolute;
    top: 10%;
    left:30%;
}
    
#smart_about:hover{
    width: 30%;
animation: rumble 0.9s linear infinite;
} 
@keyframes rumble{
0%	{transform:rotate(0deg)	translate(0,0);}
12.5%	{transform:rotate(2deg)	translate(3px,-1px);}
25%	{transform:rotate(1deg)	translate(0px,1px);}
37.5%	{transform:rotate(2deg)	translate(-1px,0);}
50%	{transform:rotate(0deg)	translate(0,0);}
62.5%	{transform:rotate(-2deg)	translate(1px,0);}
75%	{transform:rotate(-1deg)	translate(0,1px);}
87.5%	{transform:rotate(-2deg)	translate(-3px,-1px);}
100%	{transform:rotate(0deg)	translate(0,0);}
}
#smart_news:hover{
    width: 23%;
animation: rumble 0.9s linear infinite;
} 
@keyframes rumble{
0%	{transform:rotate(0deg)	translate(0,0);}
12.5%	{transform:rotate(2deg)	translate(3px,-1px);}
25%	{transform:rotate(1deg)	translate(0px,1px);}
37.5%	{transform:rotate(2deg)	translate(-1px,0);}
50%	{transform:rotate(0deg)	translate(0,0);}
62.5%	{transform:rotate(-2deg)	translate(1px,0);}
75%	{transform:rotate(-1deg)	translate(0,1px);}
87.5%	{transform:rotate(-2deg)	translate(-3px,-1px);}
100%	{transform:rotate(0deg)	translate(0,0);}
}
#smart_sponsor:hover{
    width: 29%;
animation: rumble 0.9s linear infinite;
} 
@keyframes rumble{
0%	{transform:rotate(0deg)	translate(0,0);}
12.5%	{transform:rotate(2deg)	translate(3px,-1px);}
25%	{transform:rotate(1deg)	translate(0px,1px);}
37.5%	{transform:rotate(2deg)	translate(-1px,0);}
50%	{transform:rotate(0deg)	translate(0,0);}
62.5%	{transform:rotate(-2deg)	translate(1px,0);}
75%	{transform:rotate(-1deg)	translate(0,1px);}
87.5%	{transform:rotate(-2deg)	translate(-3px,-1px);}
100%	{transform:rotate(0deg)	translate(0,0);}
}
#smart_access:hover{
    width: 24%;
animation: rumble 0.9s linear infinite;
} 
@keyframes rumble{
0%	{transform:rotate(0deg)	translate(0,0);}
12.5%	{transform:rotate(2deg)	translate(3px,-1px);}
25%	{transform:rotate(1deg)	translate(0px,1px);}
37.5%	{transform:rotate(2deg)	translate(-1px,0);}
50%	{transform:rotate(0deg)	translate(0,0);}
62.5%	{transform:rotate(-2deg)	translate(1px,0);}
75%	{transform:rotate(-1deg)	translate(0,1px);}
87.5%	{transform:rotate(-2deg)	translate(-3px,-1px);}
100%	{transform:rotate(0deg)	translate(0,0);}
}
#smart_gallery:hover{
    width: 29%;
animation: rumble 0.9s linear infinite;
} 
@keyframes rumble{
0%	{transform:rotate(0deg)	translate(0,0);}
12.5%	{transform:rotate(2deg)	translate(3px,-1px);}
25%	{transform:rotate(1deg)	translate(0px,1px);}
37.5%	{transform:rotate(2deg)	translate(-1px,0);}
50%	{transform:rotate(0deg)	translate(0,0);}
62.5%	{transform:rotate(-2deg)	translate(1px,0);}
75%	{transform:rotate(-1deg)	translate(0,1px);}
87.5%	{transform:rotate(-2deg)	translate(-3px,-1px);}
100%	{transform:rotate(0deg)	translate(0,0);}
}
#smart_contact:hover{
    width: 28%;
animation: rumble 0.9s linear infinite;
} 
@keyframes rumble{
0%	{transform:rotate(0deg)	translate(0,0);}
12.5%	{transform:rotate(2deg)	translate(3px,-1px);}
25%	{transform:rotate(1deg)	translate(0px,1px);}
37.5%	{transform:rotate(2deg)	translate(-1px,0);}
50%	{transform:rotate(0deg)	translate(0,0);}
62.5%	{transform:rotate(-2deg)	translate(1px,0);}
75%	{transform:rotate(-1deg)	translate(0,1px);}
87.5%	{transform:rotate(-2deg)	translate(-3px,-1px);}
100%	{transform:rotate(0deg)	translate(0,0);}
}
#smart_shinkan:hover{
    width: 23%;
animation: rumble 0.9s linear infinite;
} 
@keyframes rumble{
0%	{transform:rotate(0deg)	translate(0,0);}
12.5%	{transform:rotate(2deg)	translate(3px,-1px);}
25%	{transform:rotate(1deg)	translate(0px,1px);}
37.5%	{transform:rotate(2deg)	translate(-1px,0);}
50%	{transform:rotate(0deg)	translate(0,0);}
62.5%	{transform:rotate(-2deg)	translate(1px,0);}
75%	{transform:rotate(-1deg)	translate(0,1px);}
87.5%	{transform:rotate(-2deg)	translate(-3px,-1px);}
100%	{transform:rotate(0deg)	translate(0,0);}
}
   
    
}
@media screen and (min-width:481px){
html,body{
    display: block;
    color: dimgray;
    font-family: YuGothic, '游ゴシック', sans-serif;
}
#left_side{
    width: 20%;
    float: left;
    position:relative;
    position:fixed;
}

#keio{
    position: absolute;
    left: 23%;
    text-align: center;
}
.sidemenu{
    display: block;
    width: 64%;
    margin: 10% 13%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.25s ease;
}

.sidemenu:hover:nth-child(2n){
    transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    width: 68%;
}
.sidemenu:hover:nth-child(2n-1){
     transform: rotate(-14deg);
    -webkit-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    width: 68%;
}

#smoothplay1_a{
    margin-top: 60%;
}
.line{
    position: relative;
    display: block;
}

.line::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 35%;
    width: 30%;
    height: 0.85px;
    background-color: gray;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;   
}

.line:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
#top{
    position: absolute;
    left: 36%;
}
#top_a{
    text-align: center;
    color: #777777;
    font-family: "arial narrow", sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    display: block;
    padding-bottom: 2px;
    border-bottom: solid gray 1px;
}
#top_a:hover{
    letter-spacing: 7px;
    border-bottom: none;
}
#right_side{
    width: 80%;
    height: 800px;
    float: right;
    position: relative;
}

.contents{
    width: 100%;
    height: 90%;
    text-align: center;
}
#smoothplay1{
    position: absolute;
    position: relative;  
}
#akisaitoha{
    position: absolute;
    top:20%;
    left: 8%;
    text-align: left;
}
#daihyou{
    position: absolute;
    left: 55%;
}
#smoothplay2{
    position: absolute;
    position: relative; 
}
#syougai{
    position: absolute;
    top:15%;
    left: 45%;
}
#greeding{
    position: relative;
    position: absolute;
    left: 5%;
    top: 15%;
    width: 87%;
    height: 30%;
}
#honbun{
    font-family: YuGothic, '游ゴシック', sans-serif;
    width: 87%;
    position: absolute;
    top: 25%;
    left: 8%;
    text-align: left;
}

#smoothplay3{
    position: absolute;
    position: relative;
}
#info{
    text-align: left;
    position: absolute;
    left: 8%;
    top: 20%;
    
}
#twitter{
    position: absolute;
    top: 33%;
    left: 8%;
    width: 30%;
}
#facebook{
    position: absolute;
    top: 36%;
    left: 50%;
    width: 30%;
    height: auto;
}
#smoothplay4{
    position: absolute;
    position: relative;
}
#train{
    position: absolute;
    left: -1%;
    top: 22%;
}
#address{
    position: absolute;
    left: 8%;
    top: 69%;
    text-align: left;
}
#access_right{
    position: absolute;
    text-align: left;
    top:50%;
    left:50%;
}
#smoothplay5{
    position: absolute;
    position: relative;
}
#mail{
    position:absolute;
    left: 50%;
    top: 13%;
}
#otoiawase{
    position: absolute;
    left: 8%;
    top: 33%;
    text-align: left;
}
#smoothplay6{
    background-color: orange;
}
#smoothplay7{
}
h1{
    font-size: 20px;
    letter-spacing: 4px;
}
#topmenu{
    width: 0%;
    display: none;
}
}