body{
    color: dimgray;
    font-family: YuGothic, '游ゴシック', sans-serif;
}
#left_side{
    width: 20%;
    float: left;
    position:relative;
    position:fixed;
}

#keio{
    position: absolute;
    left: 23%;
    text-align: center;
}
.sidemenu{
    display: block;
    width: 64%;
    margin: 10% 13%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.25s ease;
}

.sidemenu:hover:nth-child(2n){
    transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    width: 68%;
}
.sidemenu:hover:nth-child(2n-1){
     transform: rotate(-14deg);
    -webkit-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    width: 68%;
}

#smoothplay1_a{
    margin-top: 60%;
}
.line{
    position: relative;
    display: block;
}

.line::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 35%;
    width: 30%;
    height: 0.85px;
    background-color: gray;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;   
}

.line:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
#top{
    position: absolute;
    left: 36%;
}
#top_a{
    text-align: center;
    color: #777777;
    font-family: "arial narrow", sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    display: block;
    padding-bottom: 2px;
    border-bottom: solid gray 1px;
}
#top_a:hover{
    letter-spacing: 7px;
    border-bottom: none;
}
#right_side{
    width: 80%;
    height: 800px;
    float: right;
    position: relative;
}

.contents{
    width: 100%;
    height: 90%;
    text-align: center;
}
#smoothplay1{
    position: absolute;
    position: relative;  
}
#akisaitoha{
    position: absolute;
    top:15%;
    left: 8%;
    text-align: left;
}
#smoothplay2{
    position: absolute;
    position: relative; 
}
#syougai{
    position: absolute;
    top:15%;
    left: 45%;
}
#greeding{
    position: relative;
    position: absolute;
    left: 5%;
    top: 15%;
    width: 87%;
    height: 30%;
}
#honbun{
    font-family: YuGothic, '游ゴシック', sans-serif;
    width: 87%;
    position: absolute;
    top: 25%;
    left: 8%;
    text-align: left;
}

#smoothplay3{
    position: absolute;
    position: relative;
}
#info{
    text-align: left;
    position: absolute;
    left: 8%;
    top: 20%;
    
}
#twitter{
    position: absolute;
    top: 33%;
    left: 8%;
    width: 30%;
}
#facebook{
    position: absolute;
    top: 36%;
    left: 50%;
    width: 30%;
    height: auto;
}
#smoothplay4{
    position: absolute;
    position: relative;
}
#train{
    position: absolute;
    left: -1%;
    top: 8%;
}
#address{
    position: absolute;
    left: 8%;
    top: 55%;
    text-align: left;
}
#map{
    position: absolute;
    left: 40%;
    top: 15%;
}
#smoothplay5{
    position: absolute;
    position: relative;
}
#mail{
    position:absolute;
    left: 46%;
    top: 13%;
}
#otoiawase{
    position: absolute;
    left: 8%;
    top: 30%;
    text-align: left;
}
#smoothplay6{
    background-color: orange;
}
#smoothplay7{
}
h1{
    font-size: 20px;
    letter-spacing: 4px;
}